.cart-button {
    font-size: 15px;
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    padding: 5px 35px;
    cursor: pointer;
    margin-right: 4%;

}

.request-button {
    font-size: 14px;
    padding: 12px 20px;
    color: white;
    background-color: black;
    font-family: Arial;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 40px;
}

.schedule-button {
    font-size: 14px;
    padding: 12px 20px;
    background-color: rgb(230, 230, 230);
    font-family: Arial;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    
}