.gaming-button {
    
    font-size: 14px;
    padding: 10px 15px;
    background-color: rgb(230, 230, 230);
    font-family: Arial;
    border: none;
    border-radius: 7px;
    
    cursor: pointer;
        
    
}

.is-toggled {
    font-size: 14px;
    padding: 10px 15px;
    background-color: black;
    font-family: Arial;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
        
}